<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'text-blue-500 underline mb-4 block' %>
<main class="container mx-auto mt-28 px-5 flex flex-col">
  <h1>Welcome to FlapStock</h1>
  <p>羽ばたきはここから始まる。</p>
</main>
